@import "~bootstrap/scss/bootstrap";

svg {
    fill: white;
}

.w-s {
    width: 9%;
    border-radius: 14%;
    margin-right: 10px;
}

a.nav-link {
    text-transform: uppercase;
    padding: 1rem 0.5rem;

    &.active:hover {
        border-bottom: 1px solid white;
    }
}

.bg-header {
    background-color: rgb(28, 28, 28);
}

.link {
    color: white !important;
}
